In [1]:
import pandas as pd
blackjackdata = pd.read_csv('blackjack_data_v2.csv')
blackjackdata.head()

,d_show,p_hand,p_final_hand,d_final,d_hit,d_bust,p_initial,p_final,p_hit,p_bust,p_win
0,7,"10,Q","10,Q",18,1,0,20,20,0,0,1
1,6,"8,3","8,3,5,7",17,0,0,11,23,1,1,0
2,3,"J,Q","J,Q",20,1,0,20,20,0,0,0
3,Q,"2,7","2,7,6,9",13,0,0,9,24,1,1,0
4,J,"3,8","3,8,Q",26,1,1,11,21,1,0,1

In [2]:
blackjackdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20168 entries, 0 to 20167
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   d_show        20168 non-null  object
 1   p_hand        20168 non-null  object
 2   p_final_hand  20168 non-null  object
 3   d_final       20168 non-null  int64
 4   d_hit         20168 non-null  int64
 5   d_bust        20168 non-null  int64
 6   p_initial     20168 non-null  int64
 7   p_final       20168 non-null  int64
 8   p_hit         20168 non-null  int64
 9   p_bust        20168 non-null  int64
 10  p_win         20168 non-null  int64
dtypes: int64(8), object(3)
memory usage: 1.7+ MB

In [3]:
from pycaret.classification import *
clf1 = setup(data = blackjackdata, target = 'p_win')

Setup Succesfully Completed!

In [ ]:
compare_models()

IntProgress(value=0, description='Processing: ', max=170)

Initiated  . . . . . . . . . . . . . . . . . .                17:37:15
Status     . . . . . . . . . . . . . . . . . .    Fitting Fold 5 of 10
Estimator  . . . . . . . . . . . . . . . . . .     Logistic Regression
ETC        . . . . . . . . . . . . . . . . . .  33.0 Seconds Remaining

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa]
Index: []

In [ ]:
dt = create_model('dt')

In [ ]:
tuned_xgboost = tune_model('xgboost')